[v-cloak] {
  display: none
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.twoline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.hr {
  height: 6px;
  background-color: $color-background;
  margin-left: -$container-padding;
  margin-right: -$container-padding;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-submit {
  height: 44px;
  width: 100%;
  border-radius: 3px;
  background-color: $color-blue-normal;
  font-weight: bold;
  color: #ffffff;
}

.tabs {
  background-color: #ffffff;
  position: relative;
  height: 40px;
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;
  @include border-bottom();

  button {
    height: 40px;
    line-height: 40px;
    margin-right: 28px;
    color: #000;
    font-size: 14px;

    &.active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 100%;
        height: 2px;
        background: #333;
        border-radius: 3px;
      }
    }
  }

  a {
    margin-top: 12px;
  }
}

.mint-loadmore-top {
  font-size: 12px;
}

.image-lazy-mask {
  background-image: url("https://image.calibur.tv/default/user-avatar?imageMogr2/auto-orient/strip");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  background-color: #E7E7E7;
  height: 0 !important;
}
