@import '~normalize.css';
@import "variables";
@import "mixins";
@import "classes";
@import "fonts";
@import "layout";
@import "reboot";

#app {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-size: $font-size;
}

.el-message {
  min-width: unset !important;
  padding: 5px 15px !important;
  background-color: pink !important;
  border-color: pink !important;

  .el-message__icon {
    display: none !important;
  }

  .el-message__content {
    color: #fff !important;
  }
}

.mint-indicator {
  z-index: 5000;
  position: relative;
}

.mint-msgbox {
  .mint-msgbox-message {
    line-height: 24px;

    span {
      display: block;
      text-align: left;
      font-size: 14px;
      text-indent: 2em;
      word-break: break-all;
    }

    p {
      line-height: 36px;
    }
  }

  .mint-msgbox-confirm {
    color: $color-blue-normal !important;
  }
}
