.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;
}

.row {
  margin-left: -$container-padding;
  margin-right: -$container-padding;
}

.container,
.row {
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}