@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@mixin face($size) {
  width: $size;
  height: $size;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@mixin filter-blur($size: 5) {
  filter: blur($size + px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=$size, MakeShadow=false);
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content
  }

  @-webkit-keyframes #{$name} {
    @content
  }

  @-moz-keyframes #{$name} {
    @content
  }
}
