html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: $color-text-deep;
  background-color: $color-background;

  *, *:before, *:after
  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  *:focus, *:active {
    outline-width: 0;
  }
}

ul {
  -webkit-overflow-scrolling: touch;
}

li {
  list-style-type: none;
}

img {
  color: transparent;
  background-color: transparent;
  border: 0;
}

button {
  cursor: default;
  background-color: transparent;
  border: none;
  user-select: none;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: default;
  color: inherit;
}

input, textarea, div[contenteditable=true] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  line-height: normal;
  width: 100%;
}

textarea {
  resize: none;
}

input {

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px #fff inset !important;
    background-color: #fff !important;
    border-color: #fff !important;
  }
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}