html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: $color-text-normal;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  *, *:before, *:after
  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  *:focus, *:active {
    outline-width: 0;
  }
}

ul {
  -webkit-overflow-scrolling: touch;
}

li {
  list-style-type: none;
}

img {
  color: transparent;
  background-color: transparent;
  border: 0;
  width: 100%;
  display: inline-block;
}

img,
span,
i {
  vertical-align: middle;
}

canvas {
  width: 100%;
}

button {
  cursor: default;
  background-color: transparent;
  border: none;
  user-select: none;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: default;
  color: inherit;
}

input, textarea, div[contenteditable="true"] {
  border: none;
  line-height: normal;
  width: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"],
textarea,
div[contenteditable="true"] {
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  line-height: normal;
}

textarea {
  resize: none;
}

input {

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px #fff inset !important;
    background-color: #fff !important;
  }
}

p {
  word-break: break-word !important;
  word-break: break-all;
}
