$color-text-gray: #6d757a;
$color-text-normal: #14171a;
$color-text-light: #657786;
$color-line: #ccd6dd;
$color-background-container: #e7ecf2;
$color-background-tag: #f5f8fa;
$color-press-active: #f6f6f6;
$color-avatar-border: #e7ecf2;

$color-red: #ff6881;
$color-link: #49689B;
$color-yellow: #FFC83F;
$color-gray: #b8c0cc;

//
//  [ $color-pink-light ]
//  1. 日常粉
//
$color-pink-light: #ff8ea1;
//
//  [ $color-pink-light ]
//  1. 有动态色
//
$color-pink-normal: $color-red;
//
//  [ $color-pink-normal ]
//  1. 排行榜前列，醒目色
//
$color-pink-deep: #cc5367;

//
//  [ $color-blue-light ]
//  1. 蓝色背景元素 hover 色
//
$color-blue-light: #40b9e0;
//
//  [ $color-blue-normal ]
//  1. 链接 hover 颜色
//
$color-blue-normal: #00a1d6;
//
//  [ $color-blue-deep ]
//  1. 蓝色背景元素 border 色
//
$color-blue-deep: #0081ab;

$font-size: 14px;
$container-padding: 15px;
$header-hgt: 48px;

// index

// other
$fade-time: .2s;